<% layout("/layouts/boilerplate") %>

<div class="index-heading">
  <h1>All Listings</h1>
</div>

<div class="roww">
  <% for(let listing of listings) {%>
  <a href="/listings/<%= listing._id %>">
    <div class="listing-card card coll">
      <img
        src="<%= listing.image %>"
        class="card-img-top"
        style="height: 20rem"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text"><b><%= listing.title %></b></p>
        <p class="card-text">
          &#8377;<%= listing.price.toLocaleString("en-IN") %>/Night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
