<% layout("/layouts/boilerplate") %>

<div class="signup-card mx-auto px-5 mb-4 mt-3">
  <h2 class="mb-3">SignUp on Wanderlust</h2>
  <form action="/signup" method="post" novalidate class="needs-validation">
    <div class="mb-3 mt-5">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter Username"
        required
      />
      <div class="valid-feedback">looks good!</div>
      <div class="invalid-feedback">Please enter the username.</div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter E-mail"
        required
      />
      <div class="valid-feedback">looks good!</div>
      <div class="invalid-feedback">Please enter the correct e-mail.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter Password"
        required
      />

      <div class="valid-feedback">looks good!</div>
      <div class="invalid-feedback">Please enter the password.</div>
    </div>
    <button type="submit" class="btn-primary">SignUp</button>
  </form>
</div>

<!-- <div class="signup-container">
  <div class="signup-card">
    <h2>Finish signing up</h2>
    <hr />
    <form>
      <div class="input-group">
        <input type="text" placeholder="First name" required />
        <input type="text" placeholder="Last name" required />
        <small>Make sure it matches the name on your government ID.</small>
      </div>

      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />

      <p class="disclaimer">
        By selecting <strong>Agree and continue</strong>, I agree to Airbnb’s
        Terms of Service and Privacy Policy.
      </p>

      <button type="submit" class="btn-primary">Agree and continue</button>
    </form>

    <div class="divider"><span>or</span></div>

    <div class="social-buttons">
      <button class="btn-outline">Continue with Google</button>
      <button class="btn-outline">Continue with GitHub</button>
    </div>
  </div>
</div> -->
